body {
    margin: 0px auto;
    text-align:center;
}
#header {
    background-color: #cfcfcf;
    height: 79px;
    border-bottom: 1px solid #7e7e7e;
}
#headercontainer {
    max-width: 900px;
    min-width: 900px;
    position:relative;
    margin: auto;

}
#logo {
    background-image: url(../images/logo.png);
    width: 340px;
    height: 69px;
    padding: 5px;
}
#content {
    margin: auto;
    min-width: 900px;
    max-width: 900px;

}
#footer {
    padding: 10px;
    position: relative;
    min-width: 900px;
    max-width: 900px;
    margin: auto;
    text-align: center;

}
.footertext {
    font: bold 0.75em Tahoma, Verdana, sans-serif;
    color: #7e7e7e;
}

a.footerlink:link, a.footerlink:visited {
    font: bold 0.75em Tahoma, Verdana, sans-serif;
    color: #7e7e7e;
    text-decoration:none;
}
a.footerlink:hover {
    font: bold 0.75em Tahoma, Verdana, sans-serif;
    color: #7e7e7e;
    text-decoration:underline;
}

#cssmenu { padding: 10px 0px 10px 0px;}
#cssmenu ul {margin: 0; padding: 7px 6px 0; background: #7d7d7d url(../images/overlay.png) repeat-x 0 -110px; line-height: 100%; font: normal .70em/1.0em Arial, Helvetica, sans-serif;   -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4); -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);}
#cssmenu li {margin: 0 5px; padding: 0 0 8px; float: left; position: relative; list-style: none; }
#cssmenu a,
#cssmenu a:link {font-weight: bold; color: #e7e5e5; text-decoration: none; display: block; padding:  8px 20px; margin: 0;  text-shadow: 0 1px 1px rgba(0,0,0, .3); }
#cssmenu a:hover {background: #000; color: #fff;}
#cssmenu .active a, 
#cssmenu li:hover > a {background: #666 url(../images/overlay.png) repeat-x 0 -40px; color: #444; border-top: solid 1px #f8f8f8; -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2); -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2); box-shadow: 0 1px 1px rgba(0,0,0, .2); text-shadow: 0 1px 0 rgba(255,255,255, 1); }
#cssmenu ul ul li:hover a,
#cssmenu li:hover li a {background: none; border: none; color: #666; -webkit-box-shadow: none; -moz-box-shadow: none;}
#cssmenu ul ul a:hover {background: #8f8f8f url(../images/overlay.png) repeat-x 0 -100px !important; color: #fff !important; text-shadow: 0 1px 1px rgba(0,0,0, .1);}
#cssmenu li:hover > ul {display: block;}
#cssmenu ul ul {font: normal 0.8em Arial, Helvetica, sans-serif; display: none; margin: 0; padding: 0; width: 185px; position: absolute; top: 25px; left: 0; background: #ddd url(../images/overlay.png) repeat-x 0 0; border: solid 1px #b4b4b4; -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3); -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3); box-shadow: 0 1px 3px rgba(0,0,0, .3);}
#cssmenu ul ul li {float: none; margin: 0; padding: 3px; }
#cssmenu ul ul a {font-weight: normal; text-shadow: 0 1px 0 #fff; }
#cssmenu ul:after {content: '.'; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
* html #cssmenu  ul {height: 1%;}



